git+https://github.com/ValeriyMenshikov/orm_client.git
git+https://github.com/ValeriyMenshikov/db_client.git
git+https://github.com/ValeriyMenshikov/dm_api_account_lib.git
requests
pytest
structlog
curlify
pydantic
pyhamcrest
sqlalchemy==1.4.48
records
psycopg2