allure-pytest==2.13.2
allure-python-commons==2.13.2
attrs==23.1.0
betterproto==2.0.0b5
certifi==2023.5.7
charset-normalizer==3.1.0
curlify==2.2.1
distconfig3==1.0.1
docopt==0.6.2
et-xmlfile==1.1.0
exceptiongroup==1.1.1
grpcio==1.54.0
grpcio-tools==1.54.0
grpclib==0.4.3
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.4
inflect==6.0.4
iniconfig==2.0.0
jdcal==1.4.1
multidict==6.0.4
openpyxl==2.4.11
packaging==23.1
pluggy==1.0.0
protobuf==4.23.0
psycopg==3.1.9
psycopg2-binary
pydantic==1.10.7
PyHamcrest==2.0.4
pytest==7.3.1
python-dateutil==2.8.2
PyYAML==6.0
records==0.5.3
requests==2.30.0
six==1.16.0
sql==0.4.0
sqlacodegen==2.3.0.post1
SQLAlchemy==1.4.48
stringcase==1.2.0
structlog==23.1.0
tablib==3.4.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.5.0
urllib3==2.0.2
vyper-config==1.1.1
watchdog==3.0.0
